.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fc0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(222, 5, 241);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveStars {
  from { background-position: 0 0, 0 0, 0 0, 0 0; }
  to { background-position: 1000px 1000px, -1000px 500px, 500px -500px, -500px -1000px; }
}

body {
  background: black;
  background-image: 
    radial-gradient(2px 2px at 20px 30px, white, transparent),
    radial-gradient(1.5px 1.5px at 200px 150px, white, transparent),
    radial-gradient(1px 1px at 300px 100px, white, transparent),
    radial-gradient(1.5px 1.5px at 400px 200px, white, transparent);
  background-repeat: repeat;
  background-size: 800px 800px;
  animation: moveStars 60s linear infinite;
}
